<?xml version="1.0"?>
<robot name="flying_disc" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  
  <xacro:arg name="robot_name" default="flying_disc"/>

  <xacro:include filename="$(find flying_disc_description)/urdf/common.xacro" />
  <!-- Base -->
  <link name="base_link"/>

  <joint name="disc_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="disc_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="disc_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.02" radius="0.09"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.02" radius="0.09"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.015"/>
      <inertia ixx="0.000024" ixy="0" ixz="0" 
               iyy="0.000024" iyz="0" 
               izz="0.000030"/>
    </inertial>
  </link>
  
</robot>
