<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="sample_robot_gazebo" params="prefix">

    <!-- =============== Gazebo =============== -->
    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find sample_robot_description)/config/sample_robot_config.yaml</parameters>
      </plugin>
      <plugin filename="ignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
        <render_engine>ogre2</render_engine>
      </plugin>
    </gazebo>

    <gazebo reference="camera_link" >
      <sensor name="camera_link" type="camera">
        <update_rate>10.0</update_rate>
        <always_on>true</always_on>
        <ignition_frame_id>camera_link</ignition_frame_id>
        <pose>0 0 0 0 0 0</pose>
        <topic>/image_raw</topic>
        <camera name="diff_bot_camera">
          <!--
          <triggered>true</triggered>
          <trigger_topic>/trigger</trigger_topic>
          -->
          <horizontal_fov>0.9889</horizontal_fov>
          <image>
             <width>640</width>
             <height>480</height>
             <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
