<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sample_robot_description)/urdf/base/base.gazebo.xacro"/>

  <xacro:macro name="base_v0" params="parent *joint_origin">
        <joint name="base_frame_link_joint" type="fixed">
          <xacro:insert_block name="joint_origin"/>
          <parent link="${parent}"/>
          <child link="base_frame_link"/>
        </joint>

        <link name="base_frame_link">
          <visual>
                <geometry>
                  <box size="0.6 0.6 0.02" />
                </geometry>
                <material name="white"/>
          </visual>
          <collision>
                <geometry>
                  <box size="0.6 0.6 0.02" />
                </geometry>
          </collision>
          <inertial>
                <origin xyz="0 0 0"/>
                <mass value="20.0"/>
                <inertia ixx="5" ixy="0" ixz="0"
                                 iyy="5" iyz="0"
                                 izz="5" />
          </inertial>
        </link>

  </xacro:macro>

</robot>

