<?xml version="1.0"?>
<robot name="sample_robot_4" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  
  <xacro:arg name="robot_name" default="sample_robot_4"/>

  <xacro:include filename="$(find sample_robot_description)/urdf/common.xacro"/>
  <xacro:include filename="$(find sample_robot_description)/urdf/base/base.urdf.xacro"/>
  <xacro:include filename="$(find sample_robot_description)/urdf/wheel/wheel_100mm.urdf.xacro"/>
  <xacro:include filename="$(find sample_robot_description)/urdf/shooter/shooter.urdf.xacro"/>

  <xacro:include filename="$(find sample_robot_description)/isaac/sample_robot.isaac.xacro"/>
  <xacro:include filename="$(find sample_robot_description)/ros2_control/sample_robot.ros2_control.xacro"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.0001"/>
      <inertia ixx="0.00001" ixy="0" ixz="0"
                         iyy="0.00001" iyz="0"
                                 izz="0.00001" />
    </inertial>
  </link>
  <xacro:base_v0 parent="base_link">
	<origin xyz="0 0 0.06"/>
  </xacro:base_v0>

  <!-- Wheel -->
  <!-- Wheel0 -->
  <xacro:omni_wheel prefix="wheel0" parent="base_link">
	  <origin xyz="0.35 0.35 0.05" rpy="0 ${pi/2} ${pi/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel1 -->
  <xacro:omni_wheel prefix="wheel1" parent="base_link">
	  <origin xyz="-0.35 0.35 0.05" rpy="0 ${pi/2} ${pi*3/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel3 -->
  <xacro:omni_wheel prefix="wheel2" parent="base_link">
	  <origin xyz="-0.35 -0.35 0.05" rpy="0 ${pi/2} ${-pi*3/4}"/>
  </xacro:omni_wheel>

  <!-- Wheel2 -->
  <xacro:omni_wheel prefix="wheel3" parent="base_link">
	  <origin xyz="0.35 -0.35 0.05" rpy="0 ${pi/2} ${-pi/4}"/>
  </xacro:omni_wheel>

  <xacro:shooter_v0 parent="base_link">
	<origin xyz="0 0 0.45"/>
  </xacro:shooter_v0>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <joint name="camera_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="camera_link"/>
    <origin xyz="0.45 0 0.28" rpy="0 0 0"/>
  </joint>
  <link name="camera_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.0001"/>
      <inertia ixx="0.00001" ixy="0" ixz="0"
                         iyy="0.00001" iyz="0"
                                 izz="0.00001" />
    </inertial>
  </link>

  <joint name="top_view_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="top_view_camera_link"/>
    <origin xyz="0.0 0 10.0" rpy="0 ${pi/2} 0"/>
  </joint>
  <link name="top_view_camera_link">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.0001"/>
      <inertia ixx="0.00001" ixy="0" ixz="0"
                         iyy="0.00001" iyz="0"
                                 izz="0.00001" />
    </inertial>
  </link>

  <joint name="armor1_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="armor1_link"/>
    <origin xyz="0.35 0.35 0.45" rpy="0 0 ${pi/4}"/>
  </joint>
  <link name="armor1_link">
    <visual>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0.1" ixy="0" ixz="0"
                         iyy="0.1" iyz="0"
                                 izz="0.1" />
    </inertial>
  </link>

  <joint name="armor2_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="armor2_link"/>
    <origin xyz="-0.35 0.35 0.45" rpy="0 0 ${pi*3/4}"/>
  </joint>
  <link name="armor2_link">
    <visual>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0.1" ixy="0" ixz="0"
                         iyy="0.1" iyz="0"
                                 izz="0.1" />
    </inertial>
  </link>

  <joint name="armor3_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="armor3_link"/>
    <origin xyz="-0.35 -0.35 0.45" rpy="0 0 ${-pi*3/4}"/>
  </joint>
  <link name="armor3_link">
    <visual>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0.1" ixy="0" ixz="0"
                         iyy="0.1" iyz="0"
                                 izz="0.1" />
    </inertial>
  </link>

  <joint name="armor4_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="armor4_link"/>
    <origin xyz="0.35 -0.35 0.45" rpy="0 0 ${-pi/4}"/>
  </joint>
  <link name="armor4_link">
    <visual>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.01 0.15 0.15" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="0.4"/>
      <inertia ixx="0.1" ixy="0" ixz="0"
                         iyy="0.1" iyz="0"
                                 izz="0.1" />
    </inertial>
  </link>

  <xacro:sample_robot_isaac prefix=""/>
  <xacro:sample_robot_ros2_control name="$(arg robot_name)" use_sim="$(arg use_sim)"/>

</robot>
